$primary-color: #040a47;

.section.comments.card {
  transition: none !important;
}

p.comments-title {
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
}

div.comments .btn {
  margin: 10px;
  background-color: $primary-color;
  color: white;
}

div.comment-container {
  margin: 20px;
  padding: 15px 80px 15px 80px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.comment-timestamp {
  color: rgb(153, 153, 153);
  font-style: italic;
}

.comment-owner {
  color: #575eac;
  font-weight: bold;
}

i.comment-edit.one {
  cursor: pointer;
  color: red;
}

i.comment-edit.two {
  cursor: pointer;
  color: green;
}

i.comment-edit.three {
  cursor: pointer;
  color: $primary-color;
}

span.commented {
  color: rgb(153, 153, 153);
  font-weight: normal;
}

span.comment-like-count {
  color: $primary-color;
  font-size: 25px;
  position: relative;
  margin-top: -10px !important;
  display: inline-block;
}

button.btn.comment-add {
  margin: 0px;
}

button.comment-like {
  background-color: $primary-color;
}

div.comment-body.card-panel {
  box-shadow: none !important;
}

div.comment-create-form,
div.comment-edit-form,
div.comment-delete {
  margin-bottom: 20px;

  .btn.cancel {
    color: $primary-color;
    background-color: white;
    border: 1px solid $primary-color;
  }
}

div.comment-delete {
  box-shadow: 2px 4px 3px gray;
  border: 1px solid gray;

  p.comment-delete {
    color: gray;
  }
}

@media screen and (max-width: 720px) {
  div.comment-container {
    margin: 5px;
    padding: 10px;
  }
}
