$primary-color: #040a47;
div.container > div.row {
  > button {
    margin-right: 5%;
  }
  > div.draft {
    display: flex;
  }
  > div.input-field.col.s6.tags {
    margin-top: auto;
    text-align: unset;
    > label {
      position: relative;
    }
    > div {
      > div.select__control.select__control--is-focused > div.css-1wy0on6.select__indicators > span {
        display: none;
      }
      > input {
        width: -webkit-fill-available !important;
      }
      > div.select__control > div.css-1wy0on6.select__indicators > span {
        display: none;
      }
      > div.select__control.select__control--is-focused.select__control--menu-is-open {
        box-shadow: unset;
        :hover {
          border-color: unset;
        }
      }
      > div.select__control.select__control--is-disabled {
        background-color: white;
        border-color: white;
        > div.select__indicators{
          > span {
          }
          > div.select__indicator.select__dropdown-indicator{
            display: none;
          }
        }

      }
      > div.select__control {
        border-radius: unset;
        border-style: unset;
        border-bottom-style: solid;
        border-width: 2px;
        > div.select__value-container.select__value-container--is-multi{
          padding: unset;
        }

      }
      > div.select__control.select__control--is-focused.select__control--menu-is-open {
        border-radius: unset;
        border-style: unset;
        border-bottom-style: solid;
      }
      > div.select__control.select__control--is-focused.select__control--menu-is-open > div.css-1wy0on6.select__indicators > span {
        display: none;
      }
      > div.select__control.select__control--is-focused {
        border-radius: unset;
        border-style: unset;
        border-bottom-style: solid;
        box-shadow: unset;
      }
    }
  }
  > div.input-field.col.s6.category {
    margin-top: auto;
    }
    > div {
      > div {
        > div.css-1hwfws3 {
          height: 15px;
        }
        > div.select__value-container.select__value-container--has-value
          > div.select__single-value {
          position: inherit;
        }
        > div.select__indicators > span {
          display: none;
        }
        border-radius: unset;
        border-style: unset;
        border-bottom-style: solid;
        border-width: 2px;
      }
      padding-top: 21px;
      > div.select__control.select__control--is-focused.select__control--menu-is-open {
        box-shadow: unset;
        :hover {
          border-color: unset;
        }
      }
      > div.select__control.select__control--is-focused {
        box-shadow: unset;
      }
      > div.select__menu {
        .select__option.select__option--is-focused {
          background-color: #e4e4e4;
        }
        .select__option.select__option--is-selected {
          background-color: #8f8c8c;
        }
      } 
      > div {
        border-color: #26a69a;
      }
      > div.select__menu > div > div.select__option.select__option--is-focused {
        background-color: #e4e4e4;
      }
    }
  }
  > div.input-field.col.s12.editor {
    padding-top: 20px;
    > label {
      margin-top: -29px;
    }
      > div.themeSwitcher {
        text-align: -webkit-auto;
        font-size: medium;
        padding-top: 20px;
        > span {
          font-size: medium;
          padding-right: 10px;
        }
        > div.switch > span{
            padding-right: 10px;
        }
      }

      > div.quill {
        font-size: small;
        > div.ql-toolbar.ql-snow {
          border-top-left-radius: 0.5em;
          border-top-right-radius: 0.5em;
          border-bottom: none;
        }
        > div.ql-container.ql-snow {
          min-height: 6em;
          border-bottom-left-radius: 0.5em;
          border-bottom-right-radius: 0.5em;
        }
        > div.ql-container.ql-bubble {
          min-height: 8.9em;
          border-bottom-left-radius: 0.5em;
          border-bottom-right-radius: 0.5em;
        }
        > div.ql-container{
          font-size: 14px;
        }
      }
  }
  
.css-2o5izw:hover {
  border-color: #8f8c8c !important;
}

