$primary-color: #040a47;

nav {
  .brand-logo {
    padding-left: 15px;
  }
}

nav .nav-wrapper > #nav-mobile {
  width: 50%;
  margin: auto;
  > li > a {
    color: $primary-color;
  }
}

.action-buttons .waves-effect.waves-light.btn-small.join {
  background-color: $primary-color;
}

.action-buttons .waves-effect.waves-light.btn-small.login {
  background-color: White;
  color: $primary-color;
  border-color: $primary-color;
}

.head-wrapper {
  height: 60px;
}

.app-logo {
  > img {
    width: 48px;
    height: 48px;
  }
  font-size: 30px;
  display: inline-flex;
  -webkit-text-fill-color: $primary-color;
}

.action-buttons > a {
  margin-left: 15px;
}

.nav-wrapper {
  background-color: white;
}

.nav-top-wrapper {
  background-color: white;
  .sidenav-trigger {
    color: $primary-color;
  }
}

.carousel.carousel-slider.center {
  height: 600px !important;
}

.carousel.carousel-slider .carousel-item > img {
  width: 100%;
}

.carousel.carousel-slider.center .carousel-fixed-item.center {
  .fixed-item-text {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: x-large;
    margin: 0 auto;
    border-radius: 44px;
    background-color: black;
    text-transform: uppercase;
    opacity: 0.7;
  }
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

.recent-articles.col.s12 {
  text-align: center;
  font-size: x-large;
  padding: 20px;
}

.card .card-action {
  display: -webkit-inline-box;
}
.card .card-action > div {
  padding-right: 15px;
}

.card-description {
  color: grey;
}

.card .card-content .card-title {
  font-size: 24px;
  font-weight: bold;
}

.page-footer.custom {
  background-color: $primary-color;

  .row {
    .px-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.card .card-action {
  display: -webkit-inline-box;
}
.card .card-action > div{
  padding-right: 15px;
}

.card-description {
  color: grey;
}

.card .card-content .card-title {
  font-size: 24px;
  font-weight: bold;
}

@media only screen and (max-width: 992px){
  .hide-on-med-and-down {
       display: flex !important;
  }}
.social{
  margin-top: 10px;
}
.button{
  border-radius: 20px;
  border-color: white;

}

.App{
  display: flex;
  justify-content: center;
}
.kep-login-facebook{
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0px !important;
  margin-right: 30px !important;
  border:  !important;
  font-family: Roboto, sans-serif;
}
.App button{
  background-color: rgba(0, 0, 0, 0) !important;
  border:none !important;
  cursor: pointer;
  box-shadow: none !important;
}

.App button span{
  padding: 0px !important;
}

#google-button img{
  height: 40px !important;
}

p.login-or{
  display: flex;
  justify-content: center;
  margin-top: -25px;
  margin-right: -20px;
}

p.login-or label{
  background-color: rgba(0,0,0,0.87);
  padding: 10px;
  color: #fff;
  border-radius: 50%;
}

.facebook-div, .google-div{
  border: 1px solid #eeeeee;
  margin: 0px 10px;
  overflow: auto;
}
.google-div, .google-div div{
  margin-right: 0px !important;
  padding-right: 10px !important;
}
.google-div span{
  color: #9e9e9e !important;
  font-size: 13px !important;
}

.facebook-div button, .google-div button{
  float: left;
  margin-right: 3px !important;
}

.facebook-div label, .google-div label{
  margin-top: 16px !important;
  margin-right: 10px !important;
  font-size: 13px !important;
  float: left;
}
.google-div button{
  margin-top: 3px !important;
}
