.show-profile{
    width: 40%;
    height: 150%;
}

.col{
    height: 100%;
    width: 60%;
}

.circle.responsive-img{
    height: 100%;
    width: 100%;
}

.profile-container{
    height:100%;
}

i{
    cursor:pointer;
}

