.dv-star-rating i{
    font-size:50px!important;
}
.dv-star-rating{
    margin-left: 256px;
}
button a {
    color:#ffffff!important;
}

button{ 
    background-color: #040a47;
    margin-left: 316px!important;
    float: left!important;
    height: auto!important;
}

.rateHeading {
    font-family: initial;
    font-style: italic;
    text-align: center;
}

.modal-footer , .modal-content{
    background-color: #f1eded!important;
}