.dv-star-rating i{
    font-size:50px!important;
}
.dv-star-rating{
    margin-left: 20px!important;
}
.submitButton a {
    color:#ffffff!important;
}

.submitButton{
    background-color: #040a47;
    margin-left: 316px!important;
    float: left!important;
    height: auto!important;
}

.rateHeading {
    font-family: initial;
    font-style: italic;
    text-align: center;
}

.modal-footer , .modal-content{
    background-color: #f1eded!important;
}

.ratingButton{
    background-color: #040a47!important;
}
.submitButton{
    background-color: #040a47!important;
}
.rating-digit{
    font-size: 30px;
}

.rater{
    position: absolute!important;
    height: 34px;
    padding: 0px;
    text-align: center;
    color: black!important;
    overflow: hidden;
    margin-left:103px;
}
.avgRating{
    font-size: 19px;
    margin-left: 108px;
    text-align: center;
    color: black !important;
    font-style: italic;
    font-family: initial;
}

.rateStar{
        position: absolute;
        margin-left: 90px;
        margin-left: 212px;
        margin-top: -5px;
        height: 51px;
        padding: 0px!important;
        background-color: white;
        border: none;
}