

.reportSubmit{
        background-color: #040a47;
        margin-left: 278px!important;
        
        height: auto!important;
        color: #ffffff!important;
}

.report{
    height:auto!important;
 
}

.majorReportbtn{
    position: absolute;
    margin-top: 0px;
    height: 34px;
    padding: 0;
    overflow: hidden;
}

#reportForm{
    margin: 20px auto;
}

.modal .modal-content {
    padding: 67px!important;
}