.view-article-description {
  color: grey;
  border: none;
}

.card-action {
  margin: 0 0px 40px 0px;
}

.material-icons.like {
  background-color: rgba(0,0,0,0);
  border:none;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 5px;
  position: relative;
  padding: 0px !important;
  color: #fff;
}

.votes{
    font-size: 25px;
    position: relative;
    color: #fff;
    margin-top: -10px !important;
}

.outter{
    border: 1px solid #040a47;
    background-color: #040a47;
    overflow: hidden;
    padding: 15px 5px 2px 5px;
    margin-right: 15px;
}

.d {
    margin-bottom: 3px;
}

.fa-thumbs-up {
    margin-right: 4px;
    font-size: 5
}

.bookmark.button {
  overflow: auto;
  margin-right: 15px;
}

.material-icons.unbookmarked {
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
}

.material-icons.bookmarked {
  color: #040a47;
  cursor: pointer;
  font-size: 2rem;
}