$primary-color: #040a47;
div.container > div.row {
  > div.tabs-content.carousel.carousel-slider {
    overflow-y: scroll;
    height: 550px;
  }
  div.container > div.fixed-action-btn.direction-right {
    position: absolute;
    display: inline-block;
    left: 19px;
    top: 65px;
  }
}

div.tabs-content.carousel.carousel-slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

div.tabs-content.carousel.carousel-slider::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

div.tabs-content.carousel.carousel-slider::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.row .col.s12 {
  text-align: unset !important;
  font-size: inherit !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
#root > div > div > div.container {
  > div.center {
    font-size: x-large;
    padding-bottom: 10px;
  }
  > div.fixed-action-btn.direction-right {
    position: fixed;
    display: inline-block;
    left: 6px;
  }
}

#root
  > div
  > div
  > div.container
  > div.row
  > div.col.s12
  > ul
  > li:nth-child(1) {
  > a {
    > div {
      display: flex;
      color: $primary-color;
      > i {
        line-height: 2;
      }
    }
  }
}

#root
  > div
  > div
  > div.container
  > div.row
  > div.col.s12
  > ul
  > li:nth-child(2) {
  > a {
    > div {
      display: flex;
      color: $primary-color;
      > i {
        line-height: 2;
      }
    }
  }
}
#root
  > div
  > div
  > div.container
  > div.row
  > div.col.s12
  > ul
  > li:nth-child(2)
  > a:focus.active {
  background-color: white;
}
#root
  > div
  > div
  > div.container
  > div.row
  > div.col.s12
  > ul
  > li:nth-child(1)
  > a:focus.active {
  background-color: white;
}

#root > div > div > div.container > div.row > div.col.s12 > ul > li.indicator {
  background-color: #26a69a;
}

#drafts > div > div > div.card-action > span:nth-child(2) {
  padding-right: 15px;
}
#published > div > div > div.card-action > span:nth-child(1) {
  padding-right: 15px;
}
.edit-artilce {
  color: #26a69a;
}
.delete-artilce {
  color: red;
}
.edit-artilce:hover,
.delete-artilce:hover {
  cursor: pointer;
}

.card-content.black-text {
  cursor: pointer;
}

#root > div > div > div.container.feed {
  width: 85%;
}

.meta-data {
display: inline-flex;
}

.reading-time {
  padding-left: 50px;
}
